<div class="shift-legend">
  <h3>凡例</h3>
  <ul>
    <li><span class="legend-box weekend"></span> 土日</li>
    <li><span class="legend-box empty"></span> 未入力</li>
    <li><span class="legend-box assigned"></span> 勤務あり</li>
  </ul>
</div>