<div class="shift-table-wrapper">
  <table class="shift-table">
    <%= render "shift_periods/shift_table_header", shift_days: shift_days %>

    <tbody>
      <% employees.each do |employee| %>
        <%= render "shift_periods/shift_user_row", employee: employee, shift_days: shift_days %>
      <% end %>
    </tbody>
  </table>
</div>
