<dl class="detail-list detail-list--grid">
  <div>
    <dt>名称</dt>
    <dd><%= shift_period.name %></dd>
  </div>
  <div>
    <dt>開始日</dt>
    <dd><%= shift_period.start_date %></dd>
  </div>
  <div>
    <dt>終了日</dt>
    <dd><%= shift_period.end_date %></dd>
  </div>
  <div>
    <dt>状態</dt>
    <dd><span class="status-pill"><%= shift_period_status_label(shift_period) %></span></dd>
  </div>
</dl>
