<p><strong>名称:</strong> <%= shift_period.name %></p>
<p><strong>開始日:</strong> <%= shift_period.start_date %></p>
<p><strong>終了日:</strong> <%= shift_period.end_date %></p>
<p><strong>状態:</strong> <%= shift_period.status %></p>