<h1>シフト期間詳細</h1>

<%= render "shift_period_summary", shift_period: @shift_period %>

<h2>シフト表</h2>

<%= render "shift_table", users: @users, shift_days: @shift_days %>

<p style="margin-top: 16px;">
  <%= link_to "一覧へ戻る", shift_periods_path %>
</p>